@charset "utf-8";
/* CSS Document */
form{

}
.name label,span{
	margin: 0.5%;
	padding: 1%;
}
.name input{
	margin-left: 16%;
	padding: 1%;
}
.reason label,span{
	margin-left: 0.5%;
	padding: 1%;
	width: 25%;
}
.reason textarea{
	margin-left: 1%;
}
.email label,span{
	margin-left: 0.5%;
	padding: 1%;
	width: 8%;
}
.email input{
	margin-left: 15%;
	padding: 1%;
}
.l_d input{
	width: 100px;
   margin-left: 0.5%;
   margin-right: 50px;
	padding: 1%;
}
.alreadytaken p{
	margin-left: 0.5%;
	padding: 1.5%;
}
.alreadytaken label{
	width: 10%;
	margin-left: 2%;

}
.tobetaken p{
	margin-left: 0.5%;
	padding: 1.5%;
}

.tobetaken label{
	width: 10%;
	margin-left: 2%;
}
.approve label,span{
	margin-left: 0.5%;
	padding: 1%;
	width: 15%;
}
.approve input{
	margin-left: 11%;
	padding: 1%;
}
.leavebtn button{
	margin-left: 30%;
	padding: 1%;
	width: 15%;
}
.cancelleave button{
	padding: 1%;
	width: 15%;
}
div{
	display: inline;
}
h1{
	font-size: 450%;
	background-color: #fff3e2;
	box-sizing: border-box;
	width: 90%;
	margin: 5%;
	padding: 1%;
	text-align: center;
	border-style: solid;
	border-radius: 20px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
body{
	background: url(bgImage7.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	height: 200vh;
  color: black;
}
body {
	  font-family: 'Montserrat', sans-serif;
	  font-weight: bold;
		color: black;
}
.overall{
	position:absolute;
  margin: 5%;
  height: 140%;
  width: 90%;
  padding: 80px 40px;
  box-sizing: border-box;
	border-style: solid;
	border-radius: 20px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background: #fff3e2;
	color: black;
}
#qualify{
	width: 50%;
}
body {
  font-family: "Lato", sans-serif;
}
.side{
  margin-left: 2%;
  margin-top: 1%;
  color: black;
}
span{
  color: white;
}
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #1d2d50;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 50px;
}
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #2ec1ac;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: white;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 30px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
.bn button{
	background-color: red;
	color: yellow;
}
.bn button:hover{
	background-color: red;
	color: yellow;
}

.bar{
	margin-left: 2%;
  margin-top: 1%;
  color: white;
}

.heading{
	color: black;
}
