@charset "utf-8";
/* CSS Document */

.salary label,span{
	margin: 1%;
	padding: 1%;
}
.salary input{
	margin-left: 6%;
	padding: 1%;
}
.allowances input{
	padding: 1%;
}
.allowances label{
	margin: 1%;
	padding: 1%;
}
.dear input{
	margin-left: 1%;
	padding: 1%;
}
.dear label{
	margin: 1%;
	padding: 1%;
}
.date input{
	margin-left: 7.3%;
	padding: 1%;
}
.date label{
	margin: 1%;
	padding: 1%;
}
.todate input{
	margin-left: 9.3%;
	padding: 1%;
}
.todate label{
	margin: 1%;
	padding: 1%;
}
.medical label{
  margin: 1%;
  padding: 1%;
}
.medical input{
  margin-left: 2.7%;
  padding: 1%;
}
.gross label,span{
	margin: 1%;
	padding: 1%;
	width: 9%;
}
.gross input{
	margin-left: 7.5%;
	padding: 1%;
}
.deductions label,span{
	margin: 1%;
	padding: 1%
}
.deductions input,select,option{
  margin-left: 0%;
	padding: 1%
}
.salleave label,button,span{
	margin-left: 1%;
	padding: 1%;
}
.salleave input{
	margin-left: 3.5%;
	padding: 1%;
}
div{
	display: inline;
}
h1{
	font-size: 450%;
	background-color: #fff3e2;
	box-sizing: border-box;
	width: 90%;
	margin: 5%;
	padding: 1%;
	text-align: center;
	border-style: solid;
	border-radius: 20px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
body{
	background-image: url(bgImage7.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	height: 300vh;
	width: 100%;
}
body {
	  font-family: 'Montserrat', sans-serif;
	  font-weight: bold;
}
.overall{
	position:absolute;
  margin: 5%;
  height: 200%;
  width: 90%;
  padding: 80px 40px;
  box-sizing: border-box;
	border-style: solid;
	border-radius: 20px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background: #fff3e2;
}
#qualify{
	width: 50%;
}
body {
  font-family: "Lato", sans-serif;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #008ae6;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 50px;
}
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: black;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: white;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 30px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
